.vscode
settings.json
dikaiologitika
noon
oaed
Command Prompt.Ink
cv.pdf
cv2.pdf
desktop.ini
Developer Command Prompt for VS 2019 (2)
Document 1 1 2.docx
Microsoft Teams.Ink
msteste.sql
snippets.txt
Ssms.exe - Συντόμευση.Ink
test.html
teste.sql